In [63]:
import warnings
import warnings
warnings.filterwarnings('ignore')

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
df = pd.read_csv("CGPA.csv")
df.head()

  Name  Phone screen time  stdy hr  Ref Paper  Result
0    a                7.0        4          6     7.5
1    b                4.0        6          8     8.0
2    c                2.0        8         10     9.0
3    d                5.0        7          4     7.2
4    e                6.4        5          2     6.0

In [66]:
df.describe()

       Phone screen time    stdy hr  Ref Paper     Result
count          14.000000  14.000000  14.000000  14.000000
mean            6.092857   4.571429   3.214286   5.750000
std             3.070321   2.471819   2.939874   2.224946
min             1.500000   0.000000   0.000000   0.000000
25%             3.625000   3.250000   1.000000   5.025000
50%             6.200000   4.500000   2.000000   6.000000
75%             7.875000   6.000000   4.000000   7.175000
max            12.000000   8.000000  10.000000   9.000000

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               14 non-null     object
 1   Phone screen time  14 non-null     float64
 2   stdy hr            14 non-null     int64
 3   Ref Paper          14 non-null     int64
 4   Result             14 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 688.0+ bytes

In [68]:
df.isnull().sum()

Name                 0
Phone screen time    0
stdy hr              0
Ref Paper            0
Result               0
dtype: int64

In [69]:
sns.pairplot(df)

In [70]:
sns.boxplot(df['Result'])

In [71]:
sns.heatmap(df.corr(),annot=True)

In [72]:
x = (df[["Phone screen time", "stdy hr", "Ref Paper"]])
y = df["Result"]

In [73]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.25)

In [74]:
len(x_train)

10

In [75]:
len(x_test)

4

In [76]:
x_train.shape

(10, 3)

In [77]:
y_train.shape

(10,)

In [78]:
x_test.shape

(4, 3)

In [79]:
y_test.shape

(4,)

In [80]:
from sklearn.linear_model import LinearRegression

In [81]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [82]:
yhat = lr.predict(x_test)

In [83]:
print(yhat)

[10.86519168  2.94161019  7.19281957  8.40591377]

In [84]:
print(y_test)

2    9.0
7    5.1
6    7.1
5    6.2
Name: Result, dtype: float64

In [119]:
lr.score(x_test, y_test)

-0.5926875891660164

In [121]:
from sklearn.linear_model import Ridge

In [145]:
ridge = Ridge(alpha=0.5, normalize=True).fit(x,y)

In [143]:
ridge.score(x_test, y_test)

0.8226792906719301

In [144]:
Phone_screen_time = 3 
stdy_hr = 4
Ref_Paper = 6
yhat = lr.predict([[Phone_screen_time, stdy_hr, Ref_Paper]])
yhat

array([9.22667894])